// @import '../../node_modules/bootstrap/scss/bootstrap'
@import 'fonts'
@import 'vars'


body
	background-color: $color-white
	font-family: $font-gilroy

*
	padding: 0
	margin: 0

.container
	width: 1820px
	margin: 0 auto

	@media only screen and (max-width: 1919px)
		width: 1340px
	
	@media only screen and (max-width: 1439px)
		width: 1100px
	
	@media only screen and (max-width: 1199px)
		width: 892px
	
	@media only screen and (max-width: 991px)
		width: calc(100% - 100px)
	
	@media only screen and (max-width: 767px)
		width: calc(100% - 50px)

	@media only screen and (max-width: 575px)
		width: calc(100% - 40px)

.button
	cursor: pointer

.chat
	padding: 30px 40px
	gap: 20px
	border: 1px solid $color-dark-gray
	border-radius: 100px
	display: flex

	&__item
		display: flex
		align-items: center
		text-decoration-line: none

	&__icon
		width: 26px
		height: 26px
		margin-right: 24px

	&__text
		font-weight: 700
		font-size: 34px
		line-height: 100%
		letter-spacing: -0.03em
		text-transform: lowercase
		color: $color-dark-blue

		&:hover
			color: $color-dark-blue-hover
			text-decoration-line: underline
			text-decoration-skip-ink: none
	
	&__separator
		width: 1px
		height: 32px
		background-color: $color-dim-gray

.title
	font-weight: 500
	font-size: 94px
	line-height: 100%
	letter-spacing: -0.04em
	color: $color-dark-blue

	@media only screen and (max-width: 1919px)
		font-size: 80px
	
	@media only screen and (max-width: 1439px)
		font-size: 70px

	@media only screen and (max-width: 1199px)
		font-size: 60px
	
	@media only screen and (max-width: 991px)
		font-size: 50px
	
	@media only screen and (max-width: 767px)
		font-size: 40px

.description
	font-weight: 400
	font-size: 34px
	line-height: 120%
	letter-spacing: -0.03em
	color: $color-light-blue

	@media only screen and (max-width: 1919px)
		font-size: 28px
	
	@media only screen and (max-width: 1439px)
		font-size: 25px
	
	@media only screen and (max-width: 1199px)
		font-size: 20px

	@media only screen and (max-width: 991px)
		font-size: 17px
	
	@media only screen and (max-width: 767px)
		font-size: 14px

.header
	position: fixed
	width: 100%
	padding: 37px 0px
	border-bottom: 1px solid rgba($color-dark-blue, 0.2)
	background-color: $color-white
	z-index: 9999

	@media only screen and (max-width: 1439px)
		padding: 30px 0px
	
	@media only screen and (max-width: 1199px)
		padding: 20px 0px
	
	@media only screen and (max-width: 991px)
		padding: 19px 0px
		border-bottom: 0

		&::after
			position: absolute
			content: ''
			bottom: 0px
			width: calc(100% - 100px)
			height: 1px
			left: 50px
			right: 50px
			background-color: rgba($color-dark-blue, 0.2)

	@media only screen and (max-width: 767px)
		&::after
			width: calc(100% - 50px)
			left: 25px
			right: 25px

	@media only screen and (max-width: 575px)
		&::after
			width: calc(100% - 40px)
			left: 20px
			right: 20px

	&-empty
		position: relative
		width: 100%
		height: 110px
		padding: 0px
		border: 0px
		opacity: 0
		z-index: -1

		@media only screen and (max-width: 1439px)
			height: 89px
		
		@media only screen and (max-width: 1199px)
			height: 61px
		
		@media only screen and (max-width: 991px)
			height: 57px

	&__container
		position: relative
		display: flex
		justify-content: space-between
		align-items: center
			
	&__logo
		width: 243px
		height: 33px
		z-index: 2
		
		@media only screen and (max-width: 1439px)
			width: 185px
			height: 28px
		
		@media only screen and (max-width: 1199px)
			width: 132px
			height: 19px

		&-link
			display: block
			width: 100%
			height: 100%
		
		&-image
			width: 100%
			height: 100%
	
	&__menu
		position: absolute
		width: 100%
		display: flex
		justify-content: center
		z-index: 1

		@media only screen and (max-width: 991px)
			position: relative
			width: 30px
			align-items: center

		&-button
			display: none

			@media only screen and (max-width: 991px)
				position: absolute
				right: 0
				width: 30px
				height: 30px
				border: 0
				outline: 0
				background-color: transparent
				display: flex
				justify-content: center
				align-items: center

			&--disabled > .header__menu-icon--show
				display: block
			
			&--enabled > .header__menu-icon--hide
				display: block

		&-icon
			display: none

			@media only screen and (max-width: 991px)
				position: absolute
				width: 20px
				height: 20px

	&__list
		list-style: none
		display: flex

		@media only screen and (max-width: 991px)
			display: none

			&--show
				position: absolute
				left: calc(-100vw + 80px)
				top: 28px
				width: 100vw
				height: calc(100vh - 57px)
				background-color: $color-white
				display: flex
				flex-direction: column
				justify-content: center
				align-items: center
		
		@media only screen and (max-width: 767px)
			&--show
				left: calc(-100vw + 55px)
		
		@media only screen and (max-width: 767px)
			&--show
				left: calc(-100vw + 50px)

	&__item
		margin-right: 32px

		&--bottom
			display: none

		@media only screen and (max-width: 1439px)
			margin-right: 20px
		
		@media only screen and (max-width: 991px)
			width: 231px
			margin-right: 0px
			margin-bottom: 20px

			&:last-child
				margin-bottom: 0px

			&--bottom
				position: absolute
				display: block
				bottom: 20px
				width: auto

		&:last-child
			margin-right: 0px

	&__link
		font-family: $font-gilroy
		font-weight: 600
		font-size: 20px
		line-height: 100%
		letter-spacing: -0.03em
		color: $color-dark-blue
		text-decoration-line: none

		@media only screen and (max-width: 1439px)
			font-size: 17px
			
		@media only screen and (max-width: 1199px)
			font-size: 15px

		@media only screen and (max-width: 991px)
			font-size: 30px
			font-weight: 300
	
	&__app
		z-index: 3
		
		@media only screen and (max-width: 991px)
			display: none

		&-button
			background-color: transparent
			border: 0
			outline: 0
			font-family: $font-gilroy
			font-weight: 600
			font-size: 20px
			line-height: 100%
			letter-spacing: -0.03em
			color: $color-dark-blue
			fill: $color-dark-blue
			display: flex
			align-items: center

			@media only screen and (max-width: 1439px)
				font-size: 17px
				
			@media only screen and (max-width: 1199px)
				font-size: 15px

			&:hover
				color: $color-dark-blue-hover
				fill: $color-dark-blue-hover
			
		&-icon
			width: 34px
			height: 34px
			margin-left: 12px

			@media only screen and (max-width: 1439px)
				width: 24px
				height: 24px
			
			@media only screen and (max-width: 1199px)
				width: 20px
				height: 20px
	
	&__chat
		padding: 17px 21px
		gap: 15px

		@media only screen and (max-width: 479px)
			padding: 15px 10px
			gap: 10px

		& > .chat__item
			& > .chat__icon
				width: 18px
				height: 18px
				margin-right: 10px
			
			& > .chat__text
				font-size: 12px

.main
	position: relative
	display: block
	width: 100%
	height: 838px
	margin-top: 30px
	z-index: 2

	@media only screen and (max-width: 1919px)
		height: 680px
	
	@media only screen and (max-width: 1439px)
		height: 585px
	
	@media only screen and (max-width: 1199px)
		height: 475px
		margin-top: 15px
	
	@media only screen and (max-width: 991px)
		height: 385px
		margin-top: 10px
	
	@media only screen and (max-width: 767px)
		height: 590px
	
	@media only screen and (max-width: 479px)
		height: 540px

	&__background
		position: absolute
		overflow: hidden
		width: 100%
		height: 100%
		z-index: 1

		&-image
			position: absolute
			top: -122px
			right: -390px
			width: 1586px
			height: 916px

			@media only screen and (min-width: 1920px)
				right: calc(-390px + ((100vw - 1920px) / 2))
			
			@media only screen and (max-width: 1919px)
				top: -120px
				right: calc(-340px + ((100vw - 1440px) / 2))
				width: 1300px
				height: 800px
			
			@media only screen and (max-width: 1439px)
				width: 1100px
				height: 710px
				right: calc(-285px + ((100vw - 1200px) / 2))
			
			@media only screen and (max-width: 1199px)
				width: 900px
				height: 675px
				right: calc(-235px + ((100vw - 992px) / 2))
			
			@media only screen and (max-width: 991px)
				width: 720px
				height: 550px
				right: calc(-185px + ((100vw - 768px) / 2))
			
			@media only screen and (max-width: 767px)
				width: 656px
				height: 379px
				top: 115px
				right: calc(-203px + ((100vw - 375px) / 2))
			
			@media only screen and (max-width: 479px)
				width: 655px
				height: 415px
				top: 97px
				right: calc(-229px + ((100vw - 320px) / 2))
	
	&__container
		position: relative
		height: 100%
		z-index: 2
	
	&__content
		height: 100%
		display: flex
		justify-content: space-between

		@media only screen and (max-width: 767px)
			position: relative

	&__info
		position: relative
		width: 788px

		@media only screen and (max-width: 1919px)
			width: 640px
		
		@media only screen and (max-width: 1439px)
			width: 550px
		
		@media only screen and (max-width: 1199px)
			width: 475px
		
		@media only screen and (max-width: 991px)
			width: 315px
		
		@media only screen and (max-width: 767px)
			position: static

	&__title
		font-weight: 500
		font-size: 100px
		line-height: 85%
		margin: 40px 0px 30px

		&--light
			color: $color-light-blue

		@media only screen and (max-width: 1919px)
			font-size: 80px
			margin: 20px 0px
		
		@media only screen and (max-width: 1439px)
			font-size: 70px
			margin: 10px 0px 20px
		
		@media only screen and (max-width: 1199px)
			font-size: 60px
		
		@media only screen and (max-width: 991px)
			font-size: 40px

		@media only screen and (max-width: 375px)
			font-size: 10.67vw
	
	&__description
		font-size: 24px
		line-height: 100%
		margin-bottom: 70px

		@media only screen and (max-width: 1919px)
			font-size: 20px
			margin-bottom: 50px
		
		@media only screen and (max-width: 1439px)
			font-size: 17px
		
		@media only screen and (max-width: 1199px)
			font-size: 15px
		
		@media only screen and (max-width: 991px)
			width: 180px
			letter-spacing: -0.065em
		
		@media only screen and (max-width: 767px)
			margin: 0

		@media only screen and (max-width: 375px)
			width: 48vw
			font-size: 4vw
	
	&__button
		padding: 24px
		border-radius: 12px
		border: 0
		outline: 0
		background-color: rgba($color-dark-blue, 0.06)
		display: flex
		justify-content: center
		align-items: center
		font-weight: 600
		font-size: 24px
		line-height: 100%
		letter-spacing: -0.067em
		color: $color-dark-blue
		fill: $color-dark-blue

		@media only screen and (max-width: 1919px)
			padding: 20px
			border-radius: 8px
			font-size: 20px
		
		@media only screen and (max-width: 1439px)
			padding: 17px
			border-radius: 7px
			font-size: 17px
		
		@media only screen and (max-width: 1199px)
			padding: 15px
			border-radius: 6px
			font-size: 15px
		
		@media only screen and (max-width: 991px)
			padding: 10px
		
		@media only screen and (max-width: 767px)
			position: absolute
			bottom: 44px
			left: calc((100% - 440px) / 2)
			width: 100%
			max-width: 440px
			padding: 19px 17px
			justify-content: space-between
			font-size: 14px
			border-radius: 12px
		
		@media only screen and (max-width: 479px)
			left: unset
			bottom: -6px
			max-width: unset

		&:hover
			background-color: rgba($color-dark-blue-hover, 0.06)
			color: $color-dark-blue-hover
			fill: $color-dark-blue-hover
		
		&-icon
			width: 41px
			height: 41px
			margin-left: 84px

			@media only screen and (max-width: 1919px)
				width: 35px
				height: 35px
				margin-left: 70px
			
			@media only screen and (max-width: 1439px)
				width: 27px
				height: 27px
				margin-left: 50px
			
			@media only screen and (max-width: 1199px)
				width: 25px
				height: 25px
				margin-left: 40px
			
			@media only screen and (max-width: 991px)
				width: 20px
				height: 20px
				margin-left: 30px
			
			@media only screen and (max-width: 767px)
				width: 21px
				height: 21px
				margin: 0

			&-down
				width: 24px
				height: 24px
				margin: 0

				@media only screen and (max-width: 1199px)
					width: 20px
					height: 20px
		
		&-circle
			position: absolute
			bottom: 0px
			padding: 15px
			border-radius: 50%
			background-color: $color-light-gray

			@media only screen and (max-width: 1199px)
				padding: 12px
			
			@media only screen and (max-width: 767px)
				display: none
	
	&__right
		position: relative

		@media only screen and (max-width: 991px)
			display: none
	
	&__chat
		position: fixed
		bottom: 20px
		right: 50px
		border: 0
		padding: 12px 24px
		gap: 10px
		background-color: $color-light-gray

		@media only screen and (max-width: 1439px)
			padding: 9px 18px
		
		@media only screen and (max-width: 1199px)
			padding: 7px 14px

		& > .chat__item 
			& > .chat__icon
				width: 24px
				height: 24px
				margin-right: 10px

				@media only screen and (max-width: 1439px)
					width: 20px
					height: 20px
			
			& > .chat__text
				font-size: 20px

				@media only screen and (max-width: 1439px)
					font-size: 17px
				
				@media only screen and (max-width: 1199px)
					font-size: 15px
				
		& > .chat__separator
			@media only screen and (max-width: 1439px)
				height: 25px
			
			@media only screen and (max-width: 1199px)
				height: 22px

.about
	position: relative
	height: 777px
	margin-top: 150px
	z-index: 1

	@media only screen and (max-width: 1919px)
		height: 591px
		margin-top: 125px
	
	@media only screen and (max-width: 1439px)
		height: 490px
		margin-top: 100px

	@media only screen and (max-width: 1199px)
		height: 405px
		margin-top: 80px
	
	@media only screen and (max-width: 991px)
		height: unset
		margin-top: 60px
	
	@media only screen and (max-width: 767px)
		margin-top: 45px
	
	@media only screen and (max-width: 479px)
		margin-top: 53px

	&__title
		margin-bottom: 12px
		text-align: center
	
		@media only screen and (max-width: 575px)
			margin-bottom: 17px
			font-size: 40px
			text-align: left
	
	&__description
		width: 495px
		margin: 0 auto 100px
		text-align: center

		@media only screen and (max-width: 1919px)
			width: 420px
			margin-bottom: 70px
		
		@media only screen and (max-width: 1439px)
			margin-bottom: 55px
		
		@media only screen and (max-width: 1199px)
			width: 300px
		
		@media only screen and (max-width: 991px)
			width: 250px
			margin-bottom: 40px
		
		@media only screen and (max-width: 767px)
			width: 200px
			margin-bottom: 30px
		
		@media only screen and (max-width: 575px)
			width: 250px
			margin: 0 0 30px
			font-size: 14px
			line-height: 100%
			text-align: left
	
.consequence
	position: relative

	@media only screen and (max-width: 1919px)
		left: -177px
		transform: scale(0.74)

	@media only screen and (max-width: 1439px)
		left: -218px
		transform: scale(0.60)
	
	@media only screen and (max-width: 1199px)
		left: -227px
		transform: scale(0.49)
	
	@media only screen and (max-width: 991px)
		left: 0px
		transform: scale(1)

	&__list
		position: relative
		width: 100%
		z-index: 1

		@media only screen and (max-width: 991px)
			display: grid
			grid-template-columns: 1fr 1fr
			gap: 11px
		
		@media only screen and (max-width: 575px)
			grid-template-columns: 1fr
	
	&__item
		position: absolute

		@media only screen and (max-width: 991px)
			position: relative
			height: 150px
			border-radius: 10px
			background-color: $color-dim-white

		&:nth-child(1)
			top: 40px
			left: 61px

			@media only screen and (max-width: 991px)
				border-radius: unset
				background-color: unset
		
		&:nth-child(2)
			top: 34px
			left: 602px
		
		&:nth-child(3)
			top: 16px
			left: 1018px
		
		&:nth-child(4)
			top: 98px
			left: 1507px
			
		@media only screen and (max-width: 991px)
			@for $i from 1 through 4
				&:nth-child(#{$i})
					top: unset
					left: unset

	&-note
		width: 454px
		height: 293px
		border-radius: 22px
		background-color: $color-light-gray
		transform: rotate(-12deg)

		@media only screen and (max-width: 991px)
			width: unset
			height: 100%
			border-radius: 10px
			background-color: $color-dim-white
			transform: rotate(0deg)

		&__top
			width: calc(100% - 32px)
			padding: 16px
			border-bottom: 1px solid $color-dim-gray
			display: flex
			justify-content: space-between
			align-items: center
			opacity: 0.44

			@media only screen and (max-width: 991px)
				width: calc(100% - 14px)
				height: 21px
				padding: 5px 7px
				opacity: 1

				&-right
					position: relative
					width: 60px
					height: 21px
					flex-basis: 60px

			&-left
				display: flex
				justify-content: space-between
				align-items: center
				
		&__title
			margin-left: 12px
			font-size: 24px
			line-height: 100%
			letter-spacing: -0.04em
			color: $color-dark-blue

			@media only screen and (max-width: 991px)
				margin-left: 7px
				font-size: 12px
				text-transform: capitalize
	
		&__icon
			width: 24px
			height: 24px
			margin: 0 16px

			@media only screen and (max-width: 991px)
				width: 20px
				height: 20px
				margin: 0 10px

				&--edit
					position: absolute
					top: 1px
					width: 21px
					height: 21px
					margin-right: unset

				&--cross
					position: absolute
					top: 4px
					left: 45px
					width: 15px
					height: 15px
					margin-left: unset

			&:first-child
				margin-left: 0px
				
				@media only screen and (max-width: 991px)
					transform: rotate(12deg)
			
			&:last-child, &--title
				margin-right: 0px
		
		&__main
			position: relative
			height: 231px
			width: 100%

			@media only screen and (max-width: 991px)
				height: 117px

			&-text
				position: absolute
				top: 22px
				left: 31px
				width: 285px
				z-index: 3

				@media only screen and (max-width: 991px)
					top: 20px
					left: 20px
					width: 145px
			
			&-img
				position: absolute
				top: 52.5px
				left: 42px
				width: 190px
				height: 126px
				transform: rotate(12deg)

				@media only screen and (max-width: 991px)
					top: 18px
					left: 32px
					width: 169px
					height: 102px
			
			&-icon
				position: absolute
				right: 16px
				bottom: 16px
				width: 24px
				height: 24px

				@media only screen and (max-width: 991px)
					right: 3px
					bottom: 3px
					width: 30px
					height: 30px
					transform: rotate(12deg)

	&__text
		font-size: 34px
		font-weight: 500
		line-height: 100%
		letter-spacing: -0.04em
		color: $color-dark-blue

		@media only screen and (max-width: 991px)
			font-size: 17px
			font-weight: 400
			line-height: 120%
			letter-spacing: -0.34px
	
	&__num
		color: $color-light-blue

		@media only screen and (max-width: 991px)
			display: none
	
	&-people
		position: absolute
		z-index: 1

		&__photo
			position: absolute
			width: 320px
			height: 380px
			border: 1px solid $color-light-blue
			border-radius: 12px
			background-color: $color-white
			transform: rotate(16.96deg)

			@media only screen and (max-width: 991px)
				top: 17px
				left: 20px
				width: 96px
				height: 115px
				transform: unset

			&-wrap
				position: absolute
				top: 22px
				left: 17px
				width: 285px
				height: 278px
				border: 1px solid $color-light-blue
				border-radius: 12px
				overflow: hidden

				@media only screen and (max-width: 991px)
					top: 6px
					left: 4px
					width: 85px
					height: 83px
					border-radius: 5px
			
			&-img
				position: absolute
				top: 25px
				left: 5px
				width: 384px
				height: 587px
				transform: rotate(-16.96deg)

				@media only screen and (max-width: 991px)
					top: 7px
					left: -47px
					width: 179px
					height: 179px
					transform: rotate(-1.963deg)
		
		&__text
			position: absolute
			top: 350px
			left: -30px
			width: 236px
			z-index: 2
		
			@media only screen and (max-width: 991px)
				top: 45px
				left: unset
				right: calc(-28px + ((50vw - 265px) / 2))
				width: 140px

			@media only screen and (max-width: 575px)
				right: calc(-28px + ((100vw - 265px) / 2))
	
	&-record
		position: absolute
		top: 239px

		@media only screen and (max-width: 991px)
			top: 42px
			right: calc(-30px + ((50vw - 265px) / 2))

		@media only screen and (max-width: 767px)
			right: calc(-7px + ((50vw - 265px) / 2))
			max-width: 115px
			min-width: 83px
			min-height: 64px
			width: calc(100% - 210px)

		@media only screen and (max-width: 575px)
			right: calc(-7.4% + ((100vw - 265px) / 2))

		&__text
			position: absolute
			left: 72px
			width: 345px

			@media only screen and (max-width: 991px)
				left: 20px
				top: 31px
				width: 155px
				line-height: 100%
				letter-spacing: -0.68px

		&__voice
			position: relative

			@media only screen and (max-width: 767px)
				width: 100%

			&-photo, &-listen
				position: absolute
			
			&-photo
				left: 317px
				width: 76px
				height: 76px

				@media only screen and (max-width: 991px)
					display: none

				&-img
					width: 100%
					height: 100%
			
			&-listen
				top: 7px
				left: 9px
				width: 385px
				height: 207px

				@media only screen and (max-width: 991px)
					position: static
					width: 115px
					height: 64px

				@media only screen and (max-width: 767px)
					width: 100%

				&-img
					width: 100%
					height: 100%
	
	&-reputation
		position: absolute
		
		@media only screen and (max-width: 991px)
			top: 40px
			left: 12px

		&__stars
			position: relative

			&-img
				position: absolute
				width: 248px
				height: 104px

				@media only screen and (max-width: 991px)
					width: 138px
					height: 65px
				
				@media only screen and (max-width: 767px)
					width: 113px
				
				@media only screen and (max-width: 575px)
					width: 138px
		
		&__text
			position: absolute
			top: 128px
			left: 38px
			width: 218px

			@media only screen and (max-width: 991px)
				top: 43px
				left: unset
				right: calc(2px + ((50vw - 265px) / 2))
				width: 110px
				letter-spacing: -0.51px
			
			@media only screen and (max-width: 575px)
				right: calc(2px + ((100vw - 265px) / 2))
			
			@media only screen and (max-width: 375px)
				right: 0px
				left: 168px
	
	&__threads
		position: absolute
		z-index: 2

		@media only screen and (max-width: 991px)
			display: none
	
	&-lines
		position: absolute
		z-index: 1

		&__line
			position: absolute
			height: 1px
			background-color: $color-dark-blue

			&:nth-child(1)
				width: 630px
				top: 56px
				left: 242px
				transform: rotate(1.35deg)

			&:nth-child(2)
				width: 394px
				top: 145px
				left: 854px
				transform: rotate(24.4deg)
			
			&:nth-child(3)
				width: 321px
				left: 1220px
				top: 164px
				transform: rotate(-22deg)
	
	&-bobbins
		position: absolute
		z-index: 2

		&__bobbin
			position: absolute
			width: 40px
			height: 50px

			&:nth-child(1)
				top: 4px
				left: 231px

			&:nth-child(2)
				top: 19px
				left: 863px
				
			&:nth-child(3)
				top: 181px
				left: 1220px

			&:nth-child(4)
				top: 60px
				left: 1521px