- let title = "Adrasteia";

doctype html
html(lang="ru")
	include pug/head.pug
	body
		include pug/header.pug

		main.m
			include pug/main.pug
		
		include pug/footer.pug
		
		include pug/scripts.pug